node_modules/
.env
npm-debug.log*
data/*.json
data/**/*.json
data/cringelandia/
!data/encounters.json
data/*.bak
data/backup/
minhasnote/
.botmelody.lock
prefix.json
public/uploads/*
!public/uploads/.gitkeep

# Outros aplicativos e projetos isolados
meus outros app/
scratch/
*.tar.gz
*.sql
